@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

html, body {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
}

#app {
  font-family: 'Quicksand';
}

.bold {
  font-family: 'Quicksand';
  font-weight: bold;
}

#logo {
  text-align: right;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 3em;
  display: block;
  width: 100%;
  margin-right: 10px;
  padding-bottom: 3em;
  padding-top: 3em;
  padding-right: 4em;
}

#logo a {
  display: inline-block;
  text-align: center;
  background: #000;
  padding: .4em .8em;
  color: #fff;
  letter-spacing: 10px;
  padding-right: .3em;
  text-decoration: none;
}

span{
  display: block;
}

/* Slider principal */

@media (min-width: 1264px) {
  .principal {
    margin-top: -64px !important;
  }
}

.agile__dots {
  bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  right: 30px;
  position: absolute;
}
.agile__dot {
  margin: 5px 0;
}
.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button, .agile__dot:hover button {
  background-color: #fff;
}

.slide {
  display: block;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.imagen-1{
  position: absolute;
  background-position: cover;
  height: 450px;
}

.imagen {
  top: 80px;
  right: -100px;
  height: 300px;
  position: relative;
}

/*Acerca home */

.acerca-home {
  padding-top: 6em;
  padding-bottom: 4em;
}

.heading {
  display: block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #999999;
  letter-spacing: 5px;
}

.acerca-home-title {
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: black;
  letter-spacing: 5px;
}

.icono {
  font-size: 10px !important; 
}

.iconos-home {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 2px;
}

.texto-iconos {
  margin-left: 15px;
}

.img-port {
  width: 100%;
  border: 0px solid black;
  box-shadow: 0px 0px 9px 0px;
}

.fondo-gris {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 50px;
}

.font-15 {
  font-size: 15px !important;
}

.espaciado {
  width: 100px;
}

/*Proyectos*/

.lateral-subtitulo {
  font-size: 13px;
  color: #666666;
}

.lateral-texto {
  font-size: 15px;
}

.centar {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

